[tool.pylint]
argument-naming-style=camelCase
attr-naming-style=camelCase
class-attribute-naming-style=camelCase
function-naming-style=PascalCase
method-naming-style=PascalCase
module-naming-style=snake_case
const-naming-style=UPPER_CASE
variable-naming-style=camelCase
max-line-length=120

disable=C0114, W1514, C0321